html{
    box-sizing: border-box;
    position: relative;
    width: 1440px;
    height: 5085px;
}

.header{    /* Шапка */
    position: absolute;
    width: 1438px;
    height: 591px;
    left: 0px;
    top: 0px;
}

.frameSocial{   /* Несколько кнопок соц. сетей внутри */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 32px;
    height: 128px;
    left: 1290px;
    top: 237px;
}

.frameSmall{    /* Одна кнопка соц. сети */
    position: static;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.headerContent{ /* Контент шапки */
    position: absolute;
    width: 1112px;
    height: 431px;
    left: 163px;
    top: 30px;
}

.textHeaderMain{  /* Основной текст заголовка  */
    position: absolute;
    width: 486px;
    height: 118px;
    left: 0px;
    top: 195px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    color: #333333; 
}

.textHeaderFooter{ /* Текст под основным в заголовке */
    position: absolute;
    width: 315px;
    height: 24px;
    left: 0px;
    top: 329px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: #333333;
}

.headerButton{  /* Кнопка в шапке */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 17px 30px; */
    padding: 8px 30px;

    position: absolute;
    /* width: 203px;
    height: 48px; */
    width: 100px;
    height: 20px;
    left: 0px;
    top: 413px;

    background: #FB9475;
    border-radius: 24px;
}

.headerButtonText{  /* Текст на кнопке, которая внутри шапки */
    position: static;
    width: 143px;
    height: 14px;
    left: 30px;
    top: 17px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;

    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.toppanel{ /* Верхняя панель в шапке */
    position: absolute;
    width: 1110px;
    height: 45px;
    left: 0px;
    top: 30px;
}

.toppanelTextTitle{  /* Мир красоты */
    position: absolute;
    width: 173px;
    height: 29px;
    left: 0px;
    top: 0px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #333333;
}

.navigate{  /* Навигация верхней панели в шапке*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 495px;
    height: 17px;
    left: 260px;
    top: 6px;
}

.navigateTextService{ /* Услуги и цены */
    position: static;
    width: 107px;
    height: 17px;
    left: 0px;
    top: 0px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #333333;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 28px;
}

.navigateTextExpert{  /* Мастера */
    position: static;
    width: 63px;
    height: 17px;
    left: 135px;
    top: 0px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #00BF78;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 28px;
}

.navigateTextActivity{  /* Наши работы */

    position: static;
    width: 101px;
    height: 17px;
    left: 226px;
    top: 0px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #333333;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 28px;
}

.navigateTextAbout{ /* О нас */
    position: static;
    width: 42px;
    height: 17px;
    left: 355px;
    top: 0px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
   
    color: #333333;

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 28px;
}

.navigateTextContacts{  /* Контакты */
    position: static;
    width: 70px;
    height: 17px;
    left: 425px;
    top: 0px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
   
    color: #333333;

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 28px;
}

.telephone{ /* Телефон */
    position: absolute;
    width: 167px;
    height: 36px;
    top: 0; /* прикрепить к верху родителя */
    right: 0;
    top: 6px;
    text-align: right;
}

.phonenumber{   /* 8 (499) 686-17-62 */
    position: absolute;
    width: 153px;
    height: 14px;
    right: 0px;
    top: 0px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;

    text-align: right;

    color: #333333;
}

.workinghours{  /* с 10.00 до 19.00 без выходных */
    position: absolute;
    width: 167px;
    height: 14px;
    right: 0px;
    top: 20px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    
    text-align: right;

    color: #333333;
}

.headerImages{
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 0px;
}

.headerBackground{
    position: inherit;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 0px;
    /* background: URL(images/model.jpg) no-repeat;  */
}

/*!!! Не смог спрятать изображение за другие div */

/* Далее элементы основой части сайта ↓↓↓ */

.mainTextHero{  /* О салоне */
    position: absolute;
    width: 239px;
    height: 59px;
    left: 167px;
    top: 691px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;

    color: #333333;
}

.mainTextContentTop{   /* Мир красоты - это ... */
    position: absolute;
    width: 568px;
    height: 96px;
    left: 166px;
    top: 782px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;

    color: #333333;
}

.mainTextContentBottom{ /* Красота и хороший ... */
    position: absolute;
    width: 537px;
    height: 156px;
    left: 166px;
    top: 894px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    
    color: #333333;
}

.mainTextLink{  /* Развернуть */
    position: absolute;
    width: 84px;
    height: 17px;
    left: 167px;
    top: 1040px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #278AFF;
}

.advantages{ /* Преимущества */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 1110px;
    height: 176px;
    left: 167px;
    top: 1183px;
}

.advantagesFrame{ /* Элемент для блока "Преимущества" */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: static;
    width: 350px;
    height: 176px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 30px;
}

.advantagesFrameIcon{ /* Иконка */
    position: static;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.advantagesFrameHeader{ /* Удобные кабинеты */
    position: static;
    width: 210px;
    height: 32px;
    left: 82px;
    top: 76px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    text-align: center;

    color: #333333;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
}

.advantagesFrameText{   /* Комфорт и стиль - принцип ... */
    position: static;   
    width: 270px;
    height: 66px;
    left: 27px;
    top: 110px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    text-align: center;

    color: #333333;

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 0px;
}

.services{ /* Блок популярных услуг */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;

    position: absolute;
    width: 1112px;
    height: 431px;
    left: 163px;
    top: 1459px;

    background: #FFFFFF;
}

.servicesHeader{ /* Заголовок "Популярные услуги" */
    position: absolute;
    width: 1109.64px;
    height: 44px;
    left: 0px;
    top: 0px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    color: #333333;
}

.frame2{ /* Frame 2 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1110px;
    height: 728px;
    left: 0px;
    top: 79px;
}

.frame9{    /* Frame 9 */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 1110px;
    height: 340px;
    left: 0px;
    top: 0px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 48px 0px;
}

.frame10{   /* Frame 10 */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 730px;
    height: 340px;
    left: 0px;
    top: 388px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 48px 0px;
}

.servicesCard{  /* Карточка услуги */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 350px;
    height: 300px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 30px;
}

.servicesCardImage{
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 40%;

    background: url(7691669_1920.jpg);
    border-radius: 8px;

    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 0px 0px;
}

.servicesCardHeader{/* Маникюр */
    position: static;
    left: 0%;
    right: 0.28%;
    top: 66.67%;
    bottom: 26%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #333333;

    flex: none;
    order: 2;
    align-self: flex-start;
    flex-grow: 0;
    margin: 0px 0px;
}

.servicesCardText{
    position: static;
    left: 0%;
    right: 0.28%;
    top: 76.67%;
    bottom: 16.67%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    color: #333333;

    flex: none;
    order: 4;
    align-self: flex-start;
    flex-grow: 0;
    margin: 0px 0px;
}